#rectangle{
    height: 450px;
    width: 35%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    /* opacity: 70%; */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10%;
}
#signin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    font-family: 'Maven Pro', sans-serif;
}
#inputs{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:20px;
    width: 75%;
}
#emailDiv{
    margin-bottom: 20px;
    height: 80px;
}
.inputField{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(246, 242, 242);
    border-radius: 8px;
    box-shadow: 0px 6px 6px 0px rgb(212, 211, 211);
}
.inputField:focus{
    /* background-color:rgba(252, 202, 183, 0.266); */
     box-shadow: 0px 6px 6px 0px rgb(212, 211, 211), inset 1px 1px 12px 0.5px rgb(195, 195, 195);
}
body{
    background-image: url(wallpaper.jpg);
    background-color: rgb(241, 241, 167);
}
#signinBtn{
    margin: 0;
    position: absolute;
    top: 115%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color:rgb(9, 92, 155);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: 1px solid;
}
#signinBtn:hover{
    background-color: rgba(9, 92, 155, 0.707);
    border: 1px solid;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}
#siginDiv{
    margin: 0;
    position: absolute;
    top: 105%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* #question{
    margin: 0;
    position: absolute;
    top: 115%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
#register{
    margin: 0;
    position: absolute;
    top: 135%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
/* .smBox{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */
/* img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
*/
#icons{
    margin: 0;
    position: absolute;
    top: 132%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}
body{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
hr{
    width: 70%;
    margin-top: -10px;
}
/* #question{
    font-size: 12px;
}
*/